@import "./allutils";

* {
  box-sizing: border-box;
  margin: 0;
  // font-family: 'lato';
  font-weight: 400;
  color: $DARK;

  & > a {
    text-decoration-line: none;

    &:visited,
    &:active {
      color: $DARK;
    }
  }
}

html, body, #root {
  height: 100%;
}

body, #root {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
}

::after {
  margin: 0;
  box-sizing: border-box;
}

::before {
  margin: 0;
  box-sizing: border-box;
}
