@import '../../common/styles/allutils';

.footer {
    display: flex;
    padding: 1rem;
    height: 14rem;
    background-color: $DARK;

  &__logo {
      width: auto;
      height: 6rem;

    &-img {
        height: inherit;
    }
  }
  &__link {

    &-item {
    }
  }
}
