@import "../../common/styles/allutils";

.nav {
  position: fixed;
  top:  0.5rem;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  left: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 95%;
  height: 5rem;
  padding: 1rem;
  background-color: $DARK;

    &__right {
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

  &__logo {
    width: auto;
    height: 3rem;
    overflow: hidden;

    &-img {
      height: inherit;
    }
  }
  
  &__link {
    display: flex;
    &__link-item {
      color: $LIGHT;
    }
  }
}
